<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="cod">
    
     <!-- resultMap标签将了工程entity实体类中的对象与数据库中的表对应起来
         resultMap中的id属性是一个唯一的名字
         子标签中的id属性用来指定主键
         result标签用来指定其他的键，其中property属性是指实体中的字段，对应的
         column属性表示的数据库中的响应的字段
     -->
     <resultMap type="com.pro.dong.commOrder.entity.CommOrder" id="codMap">
        <id property="coid" column="coid" jdbcType="VARCHAR"/>
        <result property="coname" column="coname" jdbcType="VARCHAR"/>
        <result property="coprice" column="coprice" jdbcType="VARCHAR"/>
        <result property="cotype" column="cotype" jdbcType="VARCHAR"/>
        <result property="cobrand" column="cobrand" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="cname" column="cname" jdbcType="VARCHAR"/>
        <result property="cphone" column="cphone" jdbcType="VARCHAR"/>
    </resultMap>
    
   
    
  
  
    <!-- 添加 -->
    <!-- 动态insert -->
    <!-- 定义两个sql片段，第一个对应字段名,id属性值任意并且唯一 -->
    <sql id="key">
      <trim suffixOverrides=",">
        <if test="coid !=null">
            coid,
        </if>
        <if test="coname !=null">
            coname,
        </if>
        <if test="coprice !=null">
            coprice,
        </if>
        <if test="coprice !=null">
            cotype,
        </if>
        <if test="cobrand !=null">
            cobrand,
        </if>
        <if test="status !=null">
            status,
        </if>
        <if test="cname !=null">
            cname,
        </if>
          <if test="cphone !=null">
            cphone,
        </if>
      </trim>
    </sql>
    
    <!-- 定义第二个sql片段，第二个对应?，key属性值任意并且唯一 -->
    <sql id="value">
      <trim suffixOverrides=",">
        <if test="coid !=null">
            #{coid},
        </if>
        <if test="coname !=null">
            #{coname},
        </if>
        <if test="coprice !=null">
            #{coprice},
        </if>
        <if test="cotype !=null">
            #{cotype},
        </if>
        <if test="cobrand !=null">
            #{cobrand},
        </if>
        <if test="status !=null">
            #{status},
        </if>
        <if test="cname !=null">
            #{cname},
        </if>
         <if test="cphone !=null">
            #{cphone},
        </if>
      </trim>
    </sql>
    <insert id="insert" parameterType="com.pro.dong.commOrder.entity.CommOrder">
        <selectKey keyProperty="coid" order="BEFORE" resultType="java.lang.String">
       select emp_sequence.NEXTVAL  from DUAL
        </selectKey>
         insert into commOrder (<include refid="key"/>)
             values (<include refid="value"/>)
    </insert>
    
    <!-- 查询 -->
    <select id="all" resultMap="codMap">
        select * from commOrder 
    </select>
    
    <!-- 删除 -->
     <delete id="delete" parameterType="String">
        delete from commOrder where coid=#{coid}
    </delete>
    
    <!-- 通过id查询 -->
     <select id="getOne" parameterType="String" resultMap="codMap">
        select * from commOrder where coid = #{coid}
    </select>
    
    <!-- 修改 -->
     <update id="update" parameterType="com.pro.dong.commOrder.entity.CommOrder">
        update commOrder  
        <set>
              <if test="coname != null">
              				coname=#{coname},
               </if>
               <if test="coprice != null">
               				coprice=#{coprice},
               </if>
               <if test="cotype != null">
              				cotype=#{cotype},
               </if>
               <if test="cobrand != null">
               				cobrand=#{cobrand},
               </if>
               <if test="status != null">
              				status=#{status},
               </if>
               <if test="cname != null">
               				cname=#{cname},
               </if>
                  <if test="cphone != null">
               				cphone=#{cphone}
               </if>
        </set>
          where coid=#{coid}
    </update>
  <!-- 根据分页数据start 和size查询数据 -->
    <select id="findByPage" parameterType="Map" resultType="Map">
     SELECT * FROM   
                   (  
                             SELECT A.*, ROWNUM RN   
                             FROM (SELECT * FROM commOrder u join  t_CUSTUMER ur on ur.cname =u.cname) A   
                  )  
                  WHERE RN BETWEEN #{start} AND #{size}  
    </select>
    <!-- 查询商品记录总数 -->
    <select id="selectCount" resultType="int">
select count(*) from (select count(*) from (SELECT * FROM commOrder u join  t_CUSTUMER ur on ur.cname =u.cname) group by coid ) commOrder
    </select>
     <!-- 通过name查询 -->  
<select id="nameall" parameterType="String" resultMap="codMap">  
   select * from commOrder where cname= #{cname}
</select>  
   
</mapper>